@model WebApp2.Models.Order
<div class="odata">@Model.Status</div>
<div class="odata">@Model.Id</div>
<div class="odata">@Model.Customer</div>
<div class="odata">@Model.Value</div>
<div class="odata">@Model.Regdate</div>
<br>
